* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	list-style-type: none;
	text-decoration: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	line-height: 1.15;
}

body {
	min-height: 100vh;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img,
picture,
video,
canvas,
svg {
	max-width: 100%;
}

svg {
	vertical-align: middle;
}

i {
	display: inline-block;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
