$active-color: #ffa928;
$inactive-color: rgba(153, 153, 153, 1);

// Body
$body-bg-color: rgba(1, 1, 1, 1);

// Menu
$menu-bg-color: rgba(70, 70, 70, 0.2);

// Header
$category-badge-bg-color: rgba(70, 70, 70, 0.3);

// Section & Form inputs
$file-upload-section-bg-color: rgba(70, 70, 70, 0.4);
$file-upload-border-color: rgba(255, 255, 255, 0.25);
$form-elements-bg-color: rgba(70, 70, 70, 0.3);
$button-bg-gradient: linear-gradient(106.97deg, rgba(254, 138, 72, 1) -11.29%, rgba(253, 165, 62, 1) 91.8%);

// Bar (for progress bar & music player)
$bar-bg-color: rgba(70, 70, 70, 0.5);
$active-bar-bg-gradient: linear-gradient(to right, rgba(255, 143, 81, 0.64) 15%, rgba(255, 127, 56, 0.9) 85%);

// Playlist
$playlist-badge-bg-color: rgba(251, 138, 13, 0.2);
$playlist-info-color: rgba(255, 255, 255, 0.6);

// Music table
$th-color: rgba(255, 255, 255, 0.5);
$tr-border-color: rgba(36, 37, 51, 1);
$music-singer-color: rgba(163, 163, 163, 1);

// Music player
$music-player-bg-color: rgba(41, 41, 41, 0.8);
$puase-bg-color: rgba(70, 70, 70, 0.7);
